# tobycui is the default owner for all files in this repository
*       @tobychui

# PassiveLemon is the docker maintainer
/docker @PassiveLemon

# james-d-elliott is the community maintainer for forward-auth related functions
# /src/mod/auth/sso/forward @james-d-elliott

# jemmy1794 maintains the stream proxy module
/src/mod/streamproxy @jemmy1794

# AnthonyMichaelTDM maintains the plugins module, and event system
/src/mod/plugins @AnthonyMichaelTDM
/example/plugins @AnthonyMichaelTDM
/src/plugin_api.go @AnthonyMichaelTDM
/src/mod/eventsystem @AnthonyMichaelTDM
