<div class="standardContainer">
    <div class="ui basic segment">
        <h2>Plugins</h2>
        <p>Add custom features to your Zoraxy!</p>
    </div>
    <div class="ui yellow message">
      <div class="header">Experimental Feature</div>
      <p>This feature is experimental and may not work as expected. Use with caution.</p>
    </div>
    <table class="ui basic celled table">
        <thead>
          <tr>
            <th>Plugin Name</th>
            <th>Descriptions</th>
            <th>Catergory</th>
            <th>Action</th>
        </tr></thead>
        <tbody id="pluginTable">
          
        </tbody>
      </table>
</div>

<script>

function initPluginSideMenu(){
  $("#pluginMenu").html("");
  $.get(`/api/plugins/list`, function(data){
    data.forEach(plugin => {
      $("#pluginMenu").append(`
        <a class="item" tag="pluginContextWindow" pluginid="${plugin.Spec.id}" onclick="loadPluginUIContextIfAvailable();">
            <img style="width: 20px;" class="ui mini right spaced image" src="/api/plugins/icon?plugin_id=${plugin.Spec.id}"> ${plugin.Spec.name}
        </a>
      `);
      
    });
  });
}
initPluginSideMenu();

function loadPluginUIContextIfAvailable(){
  if(typeof(initPluginUIView) != "undefined"){
    initPluginUIView();
  }
}



function initiatePluginList(){
  $.get(`/api/plugins/list`, function(data){
    const tbody = $("#pluginTable");
    tbody.empty();

    data.forEach(plugin => {
      let authorContact = plugin.Spec.author_contact;
      if(!authorContact.startsWith('http')){
        authorContact = `mailto:${authorContact}`;
      }

      let versionString = `v${plugin.Spec.version_major}.${plugin.Spec.version_minor}.${plugin.Spec.version_patch}`;
      const row = `
        <tr>
          <td data-label="PluginName">
            <h4 class="ui header">
              <img onclick="openPluginUI('${plugin.Spec.id}');" class="clickable" src="/api/plugins/icon?plugin_id=${plugin.Spec.id}" class="ui image">
              <div class="content">
                ${plugin.Spec.name}
                <div class="sub header">${versionString} by <a href="${authorContact}" target="_blank">${plugin.Spec.author}</a></div>
              </div>
            </h4>
            </td>
          <td data-label="Descriptions">${plugin.Spec.description}<br>
          <a href="${plugin.Spec.url}" target="_blank">${plugin.Spec.url}</a></td>
          <td data-label="Category">${plugin.Spec.type==0?"Router":"Utilities"}</td>
          <td data-label="Action">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="enable" ${plugin.Enabled ? 'checked' : ''}>
            </div>
          </td>
        </tr>
      `;
      tbody.append(row);
    });
    console.log(data);
  });
}

initiatePluginList();

</script>



