
<div id="quickstart" class="standardContainer">
    <style>
        body.darkTheme .tutorial .author{
            color: white !important;
        }

        .tutorial{
            cursor: pointer;
            transition: opacity 0.3s ease, background-color 0.3s ease;
        }
        .tutorial:hover{
            opacity: 0.8;
            background-color: var(--theme_bg_active);
        }
    </style>
    <div class="ui container">
        <h1 class="ui header">
            <img src="img/res/1F44B.png">
            <div class="content" style="font-weight: lighter;">
              Welcome to Zoraxy!
              <div class="sub header">What services are you planning to setup today?</div>
            </div>
        </h1>
        <br>
        <div class="ui stackable equal width grid">
            <div class="column">
                <div class="serviceOption homepage" name="homepage">
                    <div class="titleWrapper">
                        <p>Basic Homepage</p>
                    </div>
                    <div class="ui divider"></div>
                    <p>Host a static homepage with Zoraxy and point your domain name to your web server.</p>
                    <img class="themebackground ui small image" src="img/res/1F310.png">
                    <div class="activeOption">
                        <i class="ui white huge circle check icon"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="serviceOption subdomain" name="subdomain">
                    <div class="titleWrapper">
                        <p>Sub-domains Routing</p>
                    </div>
                    <div class="ui divider"></div>
                    <p>Add and handle traffic from your subdomains and point them to a dedicated web services somewhere else.</p>
                    <img class="themebackground ui small image" src="img/res/1F500.png">
                    <div class="activeOption">
                        <i class="ui white huge circle check icon"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="serviceOption tls" name="tls">
                    <div class="titleWrapper">
                        <p>HTTPS Green Lock(s)</p>
                    </div>
                    <div class="ui divider"></div>
                    <p>Turn your unsafe HTTP website into HTTPS using free certificate from public certificate authorities organizations.</p>
                    <img class="themebackground ui small image" src="img/res/1F512.png">
                    <div class="activeOption">
                        <i class="ui white huge circle check icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="width: 100%;" align="center">
            <button onclick="startQuickStartTour();" class="ui finished button quickstartControlButton">
                Start Walkthrough
            </button>
        </div>
        <div class="ui divider"></div>
        <!-- More advance tutorials -->
         <div class="ui segment tutorial" name="redirect">
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                    <img src="img/res/redirect.svg">
                    </a>
                    <div class="content">
                        <div class="author">Setting Up Redirections</div>
                        <div class="text">
                            <p>Redirect all traffic from one domain to another domain, or redirect specific paths to other URLs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment tutorial" name="stream">
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                    <img src="img/res/stream.svg">
                    </a>
                    <div class="content">
                        <div class="author">Stream Proxy</div>
                        <div class="text">
                            <p>Proxy TCP / UDP traffic to different servers or services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    
</div>
<script>
    var currentQuickSetupClass = "";
    var currentQuickSetupTourStep = 0;
    //For tour logic, see quicksetup.js


    //Bind selecting events to serviceOption
    $("#quickstart .serviceOption").on("click", function(data){
        $(".serviceOption.active").removeClass("active");
        $(this).addClass("active");
        let tourType = $(this).attr("name");
        currentQuickSetupClass = tourType;
    });

    $("#quickstart .tutorial").on("click", function(data){
        $(".serviceOption.active").removeClass("active");
        let tourType = $(this).attr("name");
        currentQuickSetupClass = tourType;
        startQuickStartTour();
    });
   
</script>
<script src="script/quicksetup.js"></script>