<div class="standardContainer">
    <div class="ui basic segment">
        <h2>Virtual Directory</h2>
        <p>A virtual directory is a consolidated view of multiple directories that provides a unified entry point for users to access disparate sources.</p>
    </div>
    <div style="width: 100%; overflow-x: auto; margin-bottom: 1em;">
        <table class="ui celled sortable unstackable compact table">
            <thead>
                <tr>
                    <th>Virtual Directory</th>
                    <th>Proxy To</th>
                    <th class="no-sort">Remove</th>
                </tr>
            </thead>
            <tbody id="vdirList">
                <tr>
                    <td data-label=""><button class="ui circular mini red basic button"><i class="remove icon"></i> Remove Proxy</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="ui icon right floated basic button" onclick="listVdirs();"><i class="green refresh icon"></i> Refresh</button>
    <br><br>
</div>
<script>
    //Virtual directories functions
    function listVdirs(){
        $("#vdirList").html(``);
        $.get("/api/proxy/list?type=vdir", function(data){
            if (data.error !== undefined){
                $("#vdirList").append(`<tr>
                    <td data-label="" colspan="3"><i class="remove icon"></i> ${data.error}</td>
                </tr>`);
            }else if (data.length == 0){
                $("#vdirList").append(`<tr>
                    <td data-label="" colspan="3"><i class="checkmark icon"></i> No Virtual Directory Record</td>
                </tr>`);
            }else{
                data.forEach(vdir => {
                    let tlsIcon = "";
                    if (vdir.RequireTLS){
                        tlsIcon = `<i title="TLS mode" class="lock icon"></i>`;
                    }
                    $("#vdirList").append(`<tr>
                        <td data-label="">${vdir.Root}</td>
                        <td data-label="">${vdir.Domain} ${tlsIcon}</td>
                        <td class="center aligned" data-label=""><button class="ui circular mini red basic icon button"  onclick='deleteEndpoint("vdir","${vdir.Root}")'><i class="trash icon"></i></button></td>
                    </tr>`);
                });
            }
        });
    }

    //Bind on tab switch events
    tabSwitchEventBind["vdir"] = function(){
        listVdirs();
    }
</script>