body{
    background: #ffffff !important;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

:root{
    --themeTextColor: #404040;
    --themeSkyblueColor: #a9d1f3;
    --themeSkyblueColorDecondary: #8eb9df;
}
.main {
    display: flex;
    height: 100vh;
}

.left-menu {
    width: 80px;
    min-width: 80px;
    background-color: #fcfcfc;
    min-height: 100vh;
    padding-top: 1.5em;
}

.iconWrapper{
    padding: 1em;
    border-bottom: 1px solid #f6f6f6;
}

.right-content {
    flex-grow: 1;
    position: relative;
    max-height: 100%;
    overflow-y: auto;
}

.ui.black.button{
    background-color: var(--themeTextColor) !important;
}

/* Menu items */
.menu-item{
    display: block;
    padding: 0.4em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    text-align: center;
    border-bottom: 1px solid #f6f6f6;
    width: 100%;
    transition: border-left ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

.menu-item.active{
    background: linear-gradient(60deg, rgba(84, 58, 183, 0.3) 0%, rgba(0, 172, 193, 0.3) 100%);
}

.menu-item .item-icon{
	fill: #fcfcfc;
}

.menu-item:hover{
   background: rgba(35,35,35,0.1);
}

.menu-item img{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}


/* Head banner */

.herotext{
    padding-top: 15em; 
    padding-left: 8vw;
    min-height: 100vh;
}

.bannerHeader{
    font-size: 8em; 
    font-weight: 600;
	color: white;
}

.bannerSubheader{
    font-weight: 400; 
    font-size: 1.2em; 
	color: #ebebeb;
    margin-top: -20px;
}

.bannerHeaderWrapper{
    text-align: center; 
    display: inline-block;
}

#home{
	background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
}

#home .table th, #home .table h4{
	color: white;
}

#home .table h4 .content, #home .table h4 .sub.header{
	color: white;
}
#home .table td a{
	color: #d6ddff;
}

/* features */
#features{
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: white;
}

/* screenshots */
.screenshot{
    transition: transform ease-in-out 0.1s;
    box-shadow: 3px 3px 5px 0px rgba(51,51,51,0.14);
    margin-bottom: 1em;
}

.screenshot:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* RWD */
@media (max-width:960px) {
    /* Menu RWD */
    .left-menu {
        width: 50px;
        min-width: 50px;
    }
    .iconWrapper{
        padding: 0.2em;
        border-bottom: 1px solid #f6f6f6;
    }

    .menu-item{
        padding: 0.3em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .menu-item img{
        width: 26px;
    }

    /* head banner RWD */
    .headbanner{
        opacity: 0.1;
    }

    .herotext{
        padding-left: 0;
        text-align: center;
    }

    .bannerSubheader{
        font-size: 1.2em; 
    }

    .bannerHeader{
        font-size: 5em; 
    }

    .bannerHeaderWrapper{
        display: inline;
        width: 100%;
    }
    
    .herotext .ui.collapsing.table{
        width: 100%;
    }
}

/* 
	Waves CSS 
*/

#wavesWrapper{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

.waves {
	position:relative;
	width: 100%;
	height:15vh;
	margin-bottom:-7px; /*Fix for safari gap*/
	min-height:100px;
	max-height:150px;
}


.parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -8s;
	animation-duration: 28s;
}
.parallax > use:nth-child(2) {
	animation-delay: -12s;
	animation-duration: 40s;
}
.parallax > use:nth-child(3) {
	animation-delay: -16s;
	animation-duration: 52s;
}
.parallax > use:nth-child(4) {
	animation-delay: -20s;
	animation-duration: 80s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px,0,0);
	}
	100% { 
		transform: translate3d(85px,0,0);
	}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height:40px;
		min-height:40px;
	}
}